@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm;
}

.ant-menu-item-selected,
.ant-menu-submenu-selected {
  background-color: #2d2f34 !important;
}


 [class^="ant-"] {
  font-family: '__Questrial_493e68', '__Questrial_Fallback_493e68', "Questrial", sans-serif !important;
  font-weight: 400;
 }

header div > ul {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;;
}


@media (width >= 1060px) {

body:has(.home-hero) header {
  position: absolute;
  z-index: 9999;
  width: 100%;  
  /*background: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);*/
}

body:has(.home-hero) header nav, 
body:has(.home-hero) header div > ul {
  background-color: transparent !important;
}

body:has(.home-hero) header:after {
  content: '';
    position: absolute;
    height: 140%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0.6));
    pointer-events: none;
}

}

.news-cards article,
.news-cards .date {
  border: 4px solid #2D8B49;
  background-color: #2D8B49;
}

.news-cards .date > * {
  display: block;
}

.news-cards h2 {
  text-wrap: balance;
}